<div class="col-md-12">
    <div class="panel panel-info" ng-controller="RoomController">
        <div class="panel-heading">Chat Room</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="message in messages">
	                <img class="avatar"  ng-src="{{me.avatar}}" title="{{me.username}}"/>
                    {{message.creator.username}}: {{message.content}}
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <form class="row" ng-controller="MessageCreatorController">
                <textarea ng-model="newMessage" ctrl-enter-break-line="createMessage()" placeholder= "Ctrl+Enter to send your message"  class="form-control" cols="30" rows="10"></textarea>
            </form>
        </div>
    </div>
</div>