<div class="col-md-9">
    <div class="panel panel-info">
        <div class="panel-heading">Chat Room</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item col-md-12 msg-list" ng-repeat="message in room.messages track by $index">
	                <span class="col-md-9">
		                <img class="avatar"  ng-src="{{me.avatar}}" title="{{me.username}}"/>
                    {{message.creator.username}}: {{message.content}}
	                </span>
                    <!-- Use the am-time-ago directive to format your relative timestamps. -->
                    <time class="col-md-3 time" am-time-ago="message.createAt "></time>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <form class="row" ng-controller="MessageCreatorController">
                <textarea ng-model="newMessage" ctrl-enter-break-line="createMessage()" placeholder= "Ctrl+Enter to send your message"  class="form-control" cols="30" rows="10"></textarea>
            </form>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-info">
        <div class="panel-heading">Online users</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in room.users">
                    <img class="avatar"  ng-src="{{user.avatar}}" title="{{user.username}}"/>
                    {{user.username}}
                </li>
            </ul>
        </div>
    </div>
</div>

